<h1 class="font-bold text-3xl">History</h1>
<div class="w-full flex flex-col gap-4">
  <video autoplay loop class="w-full rounded-md shadow-md">
    <source
      src="{{ url_for('static', filename='video/video.mp4')}}"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <h1 class="text-center text-xl">
    How much water was used?
    <span class="font-bold">{{count * 50 / 1000}}L</span>
  </h1>
</div>
<table class="w-full text-center shadow-xl rounded">
  <thead>
    <tr class="divide-x divide-black border-b-2 border-black">
      <th>Time of watering</th>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-black">
    {% for item in history %}
    <tr class="divide-x divide-black hover:bg-green-300">
      <td class="pb-2">{{item.time}}</td>
      <td>
        <a
          href="{{ url_for('static', filename='images/' + item.image)}}"
          target="_blank"
          class="hover:underline"
          >{{item.image}}</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
