<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <title>Document</title>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              dodis: ["Indie Flower"],
            },
          },
        },
      };
    </script>
  </head>
  <body
    class="w-full min-h-screen bg-gradient-to-br from-teal-200 to-green-300 flex flex-col gap-4 items-center font-dodis"
  >
    <header
      class="border-b border-black lg:w-3/5 w-full flex flex-col items-center gap-4 pt-4"
    >
      <h1 class="text-3xl select-none">pi.Watering-System</h1>
      <nav class="flex gap-6 px-4">
        <p
          class="hover:underline cursor-pointer hover:capitalize"
          hx-get="/watering"
          hx-target="#htmxReplace"
        >
          watering
        </p>
        <button
          class="hover:underline cursor-pointer hover:capitalize"
          hx-get="/history"
          hx-target="#htmxReplace"
        >
          history
        </button>
        <a
          class="hover:underline cursor-pointer hover:capitalize"
          href="https://github.com/BorisKlco/pi.watering-system/"
          target="_blank"
          >github</a
        >
      </nav>
    </header>
    <article class="lg:w-3/5 w-full flex justify-center">
      <div
        class="flex flex-col gap-4 w-4/5 items-center pt-2"
        id="htmxReplace"
        hx-get="/watering"
        hx-trigger="load"
      ></div>
    </article>
    <footer
      class="border-t border-black lg:w-3/5 w-full flex flex-col items-center opacity-70 select-none"
    >
      <h3>flask · htmx</h3>
    </footer>
  </body>
</html>
